

@import '../../../themes/secondthought/sass/../bower_components/bourbon/app/assets/stylesheets/bourbon';
@import '../../../themes/secondthought/sass/base/grid-settings';


// Center content

%center-content {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.center-content > div {

  @include media($sm-up) {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
  }
  @include media($xs) {

  }
}

@import '../../../themes/secondthought/sass/base/variables';
@import '../../../themes/secondthought/sass/base/mixins';

@import '../secondthought-widgets/secondthought-feature-widget/styles/secondthought-feature-widget-style';
@import '../secondthought-widgets/secondthought-slider-widget/styles/secondthought-slider-widget-style';
@import '../secondthought-widgets/secondthought-slider-widget-2/styles/secondthought-slider-widget-2-style';
@import '../secondthought-widgets/secondthought-tabs-widget/styles/secondthought-tabs-widget-style';
@import '../secondthought-widgets/secondthought-accordion-widget/styles/secondthought-accordion-widget-style.scss';
@import '../secondthought-widgets/secondthought-device-widget/styles/secondthought-device-widget-style.scss';
@import '../secondthought-widgets/secondthought-image-button-widget/styles/secondthought-image-button-widget-style.scss';

body:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: inherit;
  content: '';
}


.wrapper {
  overflow: hidden;
}

.fill-left {
  position: relative;

  @include media($sm-up) {
    padding-left: 0;
  }

  &:after {
    position: absolute;
    top: 0;
    right: 100%;
    width: 2000px;
    height: 100%;
    background-color: inherit;
    content: '';

    @include media($xs) {
      display: none;
    }
  }
}

.fill-right {
  position: relative;

  @include media($sm-up) {
    padding-right: 0;
  }

  &:after {
    position: absolute;
    top: 0;
    left: 100%;
    width: 2000px;
    height: 100%;
    background-color: inherit;
    content: '';

    @include media($xs) {
      display: none;
    }
  }
}

.parallax {
  // height: 450px;
  position: relative;
  background-position: 50% 0;
  background-repeat: no-repeat;
  // background-attachment: fixed;
}

.no-touch .parallax {
  background-attachment: fixed;
}

.border-radius {
  border-radius: $base-border-radius;
}

.no-text-margin {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
  }
}

.panel-widget-style {
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: inherit;
  }
}

.panel-row-style[class*=" background-"],
.panel-row-style.color-overlay {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: inherit;
  }
}

.panel-widget-style[class*=" transparency-"] {
  position: relative;
  z-index: 1;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-color: inherit;
  }
}

.scroll-button {
  position: relative;
}

.scroll-arrow {
  position: absolute;
  bottom: 0;
  //background: #fff;
  left: 50%;
  width: 80px;
  margin-left: -40px;
  height: 80px;
  display: block;
  text-align: center;
  .fa {
    font-size: 50px;
    color: #fff;
  }
}

.fill-image {
  background-position: center;
  @include media($xs) {
    height: 500px !important;
    margin: 0 -15px;
  }
}

.panel-last-child p:last-child {
  margin-bottom: 0;
}

// Focus shadow mixin.
$shadow-key-umbra-opacity: 0.2;
$shadow-key-penumbra-opacity: 0.14;
$shadow-ambient-shadow-opacity: 0.12;

@mixin focus-shadow() {
  box-shadow: 0 0 8px rgba(0,0,0,.18),0 8px 16px rgba(0,0,0,.36);
}

@mixin shadow-2dp() {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0 3px 1px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0 1px 5px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-3dp() {
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0 3px 3px -2px rgba(0, 0, 0, $shadow-key-umbra-opacity),
              0 1px 8px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity);
}
@mixin shadow-4dp() {
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0 1px 10px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
              0 2px 4px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity);
}
@mixin shadow-6dp() {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0 1px 18px 0 rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
              0 3px 5px -1px rgba(0, 0, 0, $shadow-key-umbra-opacity);
}
@mixin shadow-8dp() {
  box-shadow: 0 8px 10px 1px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0 3px 14px 2px rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
              0 5px 5px -3px rgba(0, 0, 0, $shadow-key-umbra-opacity);
}

@mixin shadow-16dp() {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, $shadow-key-penumbra-opacity),
              0  6px 30px 5px rgba(0, 0, 0, $shadow-ambient-shadow-opacity),
              0  8px 10px -5px rgba(0, 0, 0, $shadow-key-umbra-opacity);
}

.mdl-shadow--2dp {
  @include shadow-2dp();
}

.mdl-shadow--3dp {
  @include shadow-3dp();
}

.mdl-shadow--4dp {
  @include shadow-4dp();
}

.mdl-shadow--6dp {
  @include shadow-6dp();
}

.mdl-shadow--8dp {
  @include shadow-8dp();
}

.mdl-shadow--16dp {
  @include shadow-16dp();
}

// alternatives
.shadow-1 {
  @include shadow-2dp();
}

.shadow-2 {
  @include shadow-3dp();
}

.shadow-3 {
  @include shadow-4dp();
}

.shadow-4 {
  @include shadow-6dp();
}

.shadow-5 {
  @include shadow-8dp();
}

.shadow-6 {
  @include shadow-16dp();
}
