$slick-font-family: 'FontAwesome';
$slick-arrow-color: #fff;
$slick-dot-color: #000;
$slick-dot-color-active: #f06d06;
$slick-prev-character: '\f104';
$slick-next-character: '\f105';
$slick-dot-character: '\f111';
$slick-dot-size: 6px;
$slick-opacity-default: .75;
$slick-opacity-on-hover: 1;
$slick-opacity-not-active: .25;
$slick-slide-height: 100%;

// Slider

.secondthought-slider.slick-slider {

  position: relative;
  display: block;
  box-sizing: border-box;

  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;

  .slick-slide{
    position: relative;
    z-index: 1;
  }
  .slick-slide:after {
    content: "";
    background-color: inherit;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }


  // Arrows

  .slick-prev,
  .slick-next {
    position: absolute;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    // width: 20px;
    // height: 20px;
    outline: none;
    border: 0;
    background: transparent;
    box-shadow: none;
    color: transparent;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    display: block;

    &:hover,
    &:focus {
      outline: none;
      background: transparent;
      color: transparent;

      &:before {
        opacity: $slick-opacity-on-hover;
      }
    }

    &.slick-disabled:before {
      opacity: $slick-opacity-not-active;
    }
  }

  .slick-prev:before,
  .slick-next:before {
    color: $slick-arrow-color;
    font-size: inherit;
    font-family: $slick-font-family;
    line-height: 1;
    opacity: $slick-opacity-default;
  }

  .slick-prev {
    left: 0px;

    [dir='rtl'] & {
      right: 0px;
      left: auto;
    }

    // &:before {
    //   content: $slick-prev-character;
    //
    //   [dir='rtl'] & {
    //     content: $slick-next-character;
    //   }
    // }
  }

  .slick-next {
    right: 0px;

    [dir='rtl'] & {
      right: auto;
      left: 0px;
    }

    // &:before {
    //   content: $slick-next-character;
    //
    //   [dir='rtl'] & {
    //     content: $slick-prev-character;
    //   }
    // }
  }

  // Dots


  .slick-dots {
    position: absolute;
    bottom: 0;
    display: block;
    padding: 0;
    width: 100%;
    list-style: none;
    text-align: center;

    li {
      position: relative;
      display: inline-block;
      margin: 0 5px;
      padding: 0;
      width: 20px;
      height: 20px;
      cursor: pointer;

      button {
        display: block;
        padding: 5px;
        width: 20px;
        height: 20px;
        outline: none;
        border: 0;
        background: transparent;
        color: inherit;
        font-size: 10px;
        line-height: 0;
        cursor: pointer;

        &:hover,
        &:focus {
          outline: none;

          &:before {
            // opacity: $slick-opacity-on-hover;
          }
        }

        &:before {
          position: absolute;
          top: 0;
          left: 0;
          width: 20px;
          height: 20px;
          color: inherit;
          content: $slick-dot-character;
          text-align: center;
          font-size: inherit;
          font-family: $slick-font-family;
          line-height: 20px;
          // opacity: $slick-opacity-not-active;
        }
      }

      &.slick-active button:before {
        color: inherit;
        // opacity: $slick-opacity-default;
      }
    }

  }
}

.slide_inner {
  height: 100%;
}

.slide_content {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  padding: 30px;
}

.slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin: 0;
  padding: 0;

  &:focus {
    outline: none;
  }

  .slick-loading & {
    // background: #fff slick-image-url('ajax-loader.gif') center center no-repeat;
  }
  // scss-lint:disable DuplicateProperty
  &.dragging {
    cursor: pointer;
    cursor: hand;
  }
  // scss-lint:enable DuplicateProperty
}

.slick-list {
  @if $slick-slide-height == 100% {
    height: 100%;
  }
}

.secondthought-slider.slick-slider .slick-track {
  transform: translate3d(0, 0, 0);
}

.secondthought-slider.slick-slider .slick-track {
  @if $slick-slide-height == 100% {
    height: 100%;
  }
}

.slick-track {
  position: relative;
  top: 0;
  left: 0;
  display: block;

  &:before,
  &:after {
    display: table;
    content: '';
  }

  &:after {
    clear: both;
  }

  .slick-loading & {
    visibility: hidden;
  }
}

.slick-slide {
  float: left;
  min-height: 1px;
  height: $slick-slide-height;

  [dir='rtl'] & {
    float: right;
  }

  img {
    display: block;
  }

  &.slick-loading img {
    display: none;
  }

  //display: none;

  &.dragging img {
    pointer-events: none;
  }

  .slick-initialized & {
    display: block;
  }

  .slick-loading & {
    visibility: hidden;
  }

  .slick-vertical & {
    display: block;
    height: auto;
    border: 1px solid transparent;
  }
}


.secondthought-slider.slick-slider {
  margin-bottom: 0;
}
