.so-widget-secondthought-feature-widget {
  color: inherit;
  background-color: inherit;
}
.secondthought-feature-item {
  color: inherit;
  background-color: inherit;
  &.text-below-image {
    a {
      display: block;
    }
  }
}

.so-widget-secondthought-feature-widget {
  background-color: inherit;
  color: inherit;

  .secondthought-feature-item {
    background-color: inherit;
    color: inherit;

    a {
      display: block;
      position: relative;
      background-color: inherit;
      color: inherit;
    }

    img {
      display: block;
    }

    &.text-on-image {
      .secondthought-feature-caption {
        background-color: inherit;
        color: inherit;
        position: absolute;
        width: 100%;
        bottom: 0px;
        padding: 15px;

        h4 {
          margin: 0;
          color: inherit;
        }

        p {
          margin-top: 10px;
          color: inherit;
        }
      }
    }
    &.text-below-image {
      .secondthought-feature-caption {
        background-color: inherit;
        color: inherit;
        // position: absolute;
        width: 100%;
        // bottom: 0px;
        padding: 15px;

        h4 {
          margin: 0;
          color: inherit;
        }

        p {
          margin-top: 10px;
          color: inherit;
        }
      }
    }
  }
}
